@charset "UTF-8";
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Condensed"), local("UbuntuCondensed-Regular"), url(../../assets/fonts/Ubuntu-Condensed/uc.woff) format("woff");
}
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: local("Russo One"), local("RussoOne-Regular"), url(../../assets/fonts/Russo-One/font.woff) format("woff");
}
.slide H1,
.slide H2,
.slide H3,
.slide H4,
.slide H5 {
  /*position: relative;*/
  z-index: 2;
  font-family: "Ubuntu Condensed",sans-serif;
  line-height: 1;
  font-weight: normal;
}

/* map-keys($map-headers) */
.slide h2 {
  margin: 0 0 38.4px;
  font-size: 57.6px;
}

/* map-keys($map-headers) */
.slide h3 {
  margin: 0 0 36.8px;
  font-size: 55.2px;
}

/* map-keys($map-headers) */
.slide h4 {
  margin: 0 0 27.2px;
  font-size: 40.8px;
}

/* map-keys($map-headers) */
.slide h5 {
  margin: 0 0 19.2px;
  font-size: 28.8px;
}

.slide H2 + H3 {
  margin-top: -30px;
  color: #BBB;
}

.slide .free-fly {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
  font: 90px/1 'Ubuntu Condensed', sans-serif;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slide .free-fly--small {
  font-size: 85px;
}
.slide .free-fly .tooltip {
  position: absolute;
  left: 0;
  bottom: -1.9em;
  width: 100%;
  font-size: 30px;
  color: #555555;
}

.sign {
  padding: 0 .5em;
  vertical-align: middle;
  font-size: 3em;
}

.list--browsers-inside LI {
  margin-bottom: 50px;
}

.browsers {
  display: inline-block;
  text-indent: 0;
}
.browsers DT {
  display: inline-block;
  width: 265px;
  margin-right: 40px;
}

.list--problems LI {
  margin-bottom: 30px;
}

.list--support-stacks DT {
  width: 325px;
  vertical-align: top;
}

.list--cssmasks DL {
  vertical-align: top;
}
.list--cssmasks DT {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.browser {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 20px;
  background: url(../../assets/img/sprite-browsers-64.png) 0 0 no-repeat;
  vertical-align: middle;
}
.browser:after {
  display: inline-block;
  margin: -.5em 0 0;
  padding: 0 5px 0 3.3em;
  vertical-align: top;
  font-size: .75em;
  line-height: 1.4;
  font-weight: bold;
  white-space: nowrap;
}

.list--support-stacks .browser {
  margin-right: 11px;
}

.no-support {
  opacity: .2;
}

.chrome {
  background-position: 0 0;
}

.firefox {
  background-position: 0 -64px;
}

.ie-8 {
  background-position: 0 -128px;
}
.ie-8:after {
  content: "8";
  padding-left: 3.7em;
}

.ie-9-11 {
  background-position: 0 -192px;
}
.ie-9-11:after {
  content: "9-11";
  padding-left: 3.7em;
}

.ie-9 {
  background-position: 0 -192px;
}
.ie-9:after {
  content: "9+";
  padding-left: 3.7em;
}

.opera-old {
  background-position: 0 -256px;
}

.opera-12-mb-min:after {
  content: "12, Mobile, Mini";
}

.opera-12:after {
  content: "12";
}

.opera-min:after {
  content: "Mini";
}

.opera-mob {
  margin-right: 50px;
}
.opera-mob:after {
  content: "Mobile";
}

.opera-15 {
  background-position: 0 -320px;
}
.opera-15:after {
  content: "15+";
}

.safari {
  background-position: 0 -384px;
}

/*.ie8:before {
  background-position: -90px 0;
  }*/
/*
.opera-mob:before {
  background-position: -150px 0;
  }
.opera-mini:before {
  background-position: -150px 0;
  }*/
.pos-abs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.l-wrapper {
  position: relative;
  min-width: 400px;
  max-width: 800px;
  margin: 50px auto;
  border: 1px solid #DDD;
  font: 16px/1.5 'Open Sans',sans-serif;
}

.props-list {
  position: relative;
  margin: 2em 2em 4em;
}

.prop-name {
  margin-bottom: 2em;
  background: #DDD;
  text-align: center;
  font-weight: bold;
}

.browser-bug {
  margin-left: 0;
  margin-bottom: 1em;
}
