@import '_mixins';
@import '_fonts';
@import '_browsers';

.pos-abs {
    @include posabs;
    margin: auto;
    }

CODE {
    display: inline-block;
    padding: 0 3px;
    background: palegoldenrod;
    border-radius: 4px;
    text-shadow: 1px 1px white;
    font-family: Consolas, Monaco, Lucida Console, monospace;
    font-size: 12px;
    line-height: 1.6;
    color: darkred;
    }

.l-wrapper {
        position: relative;
        min-width: 400px;
        max-width: 800px;
        margin: 50px auto;
        border: 1px solid #DDD;
        font: 16px/1.5 'Open Sans',sans-serif;
        }
    .props-list {
        position: relative;
        margin: 2em 2em 4em;
        }
    .prop-name {
        margin-bottom: 2em;
        padding: 0.2em 0;
        background: #DDD;
        text-align: center;
        font-weight: bold;
        }
     .browser-bug {
         margin-left: 0;
         margin-bottom: 1em;
         }
