@import '_mixins';
@import '_fonts';
@import '_browsers';

.pos-abs {
    @include posabs;
    margin: auto;
    }

.l-wrapper {
        position: relative;
        min-width: 400px;
        max-width: 800px;
        margin: 50px auto;
        border: 1px solid #DDD;
        font: 16px/1.5 'Open Sans',sans-serif;
        }
    .props-list {
        position: relative;
        margin: 2em 2em 4em;
        }
    .prop-name {
        margin-bottom: 2em;
        background: #DDD;
        text-align: center;
        font-weight: bold;
        }
     .browser-bug {
         margin-left: 0;
         margin-bottom: 1em;
         }
